<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="fragments/fragments.html :: head"></div>
<body>
<div th:replace="fragments/fragments.html :: header"></div>

<!--    MAIN    -->
<main>
    <div class="container-fluid col-12 mb-2">
        <div class="single-edit d-none">
            <div th:replace="fragments/blog-form.html :: info-form"></div>
        </div>
        <div class="blog card mt-1" th:id="${blog.getId()}">
            <div class="card-header bg-secondary text-light d-flex justify-content-between position-relative">
                <b><span th:text="${blog.title}" class="col-8 col-sm-7 title"></span></b>
                <div class="col-4 col-sm-5 text-end">
                    <span th:text="${blog.user.username}"></span>,
                    <span th:text="${#dates.format(blog.datetime, 'yyyy-MM-dd HH:mm')}"></span>
                </div>
                <!--    POST edit/delete    -->
                <div class="blog-edit position-absolute bg-light border top-100 p-2 end-0"
                     sec:authorize="isAuthenticated()"
                     th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')
                         or #authentication.getPrincipal().getId() == blog.user.id}">
                    <i class=" bi bi-pencil-fill p-2 edit-blog"></i>
                    <form th:action="@{/blog/delete}" method="POST">
                        <button type="submit"><i class="bi bi-x-lg p-2 delete-blog"></i></button>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <pre><p class="card-text description" th:text="${blog.description}"></p></pre>
            </div>
            <!--    COMMENTS    -->
            <div class="card-footer">
                <div class="text-end">
                    <span th:text="#{lt.blog.totalComments}"></span>: <span th:text="${blog.comments.size}"></span>
                </div>
                <div class="col-12 mb-2" th:each="comment: ${blog.comments}">
                    <div class="comment position-relative col-12 bg-white border rounded p-2 m-0"
                         th:id="${comment.id}">
                        <b><span th:text="${comment.user.username}"></span></b>
                        <div class="comment-text text"><span th:text="${comment.text}"></span></div>
                        <!--    COMMENT edit/delete    -->
                        <div class="comment-edit position-absolute bg-light border top-0 p-0 end-0"
                             sec:authorize="isAuthenticated()"
                             th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') or
                                 #authentication.getPrincipal().getId() == comment.user.id}">
                            <i class="bi bi-pencil-fill p-2 edit-comment"></i>
                            <form th:action="@{/comment/delete}" method="POST">
                                <button type="submit"><i class="bi bi-x-lg p-2 delete-comment"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--    COMMENT add     -->
                <div th:replace="fragments/comment-form.html :: info-form"></div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/fragments.html :: info-messages"></div>
</main>
<div th:replace="fragments/fragments.html :: js-css"></div>
</body>
</html>