* {
    scroll-behavior: unset;
}

/*html{*/
/*    scroll-behavior: auto !important;*/
/*}*/

body {
    padding-top: 70px;
}

header {
    z-index: 1 !important;
}

.dark-screen {
    background: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 1 !important;
}


.auth-box{
    z-index: 2 !important;
    margin-top: -30px !important;
    right: 0 !important;
    background: #fff;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .auth-box{
        margin-top: -38px !important;
        border-bottom-left-radius: 0;
    }
}

header .navbar .nav-item {
    cursor: pointer;
    color: #c7c7c7;
}

header .navbar .nav-item svg:hover {
    color: #fff;
}

.navbar {
    -webkit-box-shadow: 0 -2px 5px 5px #3c3c3c;
    box-shadow: 0 -2px 5px 5px #3c3c3c;
}

.card-head{
    background: #f6f6f6;
    padding-bottom: 5px !important;
}
.card-head button {
    top: -44px;
    padding: 5px;
    font-size: 18px;
    float: right;
    opacity: 0.3;
    transition: 0.1s;
    min-width: 24px !important;
}


.card-head button:hover {
    opacity: 1;
    transform: scale(1.05);
}

.card-text {
    text-align: justify;
    white-space: pre-line;
    width: 100%;
    position: relative;
    padding: 0 15px;
    top: -15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

.invalid-feedback {
    margin-bottom: -5px !important;
}


ul.invalid-helper {
    margin-left: -10px;
    margin-bottom: 2px;
    color: #d20101;
    font-size: 14px;
    text-align: left;
}

.invalid-helper li:first-letter {
    text-transform: capitalize;
}

.success-response {
    margin-bottom: 0 !important;
}

.is-valid{
    background: red !important;
    padding: 50px !important;
}