* {
    scroll-behavior: unset;
}

body {
    padding-top: 78px;
}

header {
    z-index: 1 !important;
}

.dark-screen {
    background: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 1 !important;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

.auth-box {
    z-index: 2 !important;
    margin-top: -30px !important;
    right: 0 !important;
    background: #fff;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 5px;
}

header .navbar .nav-item {
    cursor: pointer;
    color: #c7c7c7;
}

header .navbar .nav-item svg:hover {
    color: #fff;
}

.navbar {
    -webkit-box-shadow: 0 -2px 5px 5px #3c3c3c;
    box-shadow: 0 -2px 5px 5px #3c3c3c;
}

.card-head {
    background: #f6f6f6;
    padding-bottom: 1px !important;
    position: relative;
}

.card-head .actions {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.card-head .actions button {
    padding: 5px;
    font-size: 18px;
    margin-left: 8px;
    color: #d5d4d4;
    min-width: 24px !important;
}

.card-head button:hover {
    color: #595959;
}

.card-body {
    padding: 15px;
}

.card-text {
    text-align: justify;
    white-space: pre-line;
    word-break: break-all;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

.card-text-full {
    text-align: justify;
    white-space: pre-line;
    width: 100%;
}

.card-footer {
    background: #f6f6f6;
    border: none !important;
    padding: 10px;
    padding-bottom: 15px !important;
}

.card-footer .comment {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 17px;
    border: solid 1px #e1e1e1;
    background: #fff;
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
}

.card-footer .comment p {
    font-weight: bold;
    margin: 0;
}

.card-footer button {
    min-width: 24px !important;
    padding: 2px !important;
}

.card-footer > button:hover {
    background: #1976d2;
    color: #fff;
}

.card-footer .comment .comment-actions-icon {
    position: absolute;
    color: #d5d4d4;
    right: 5px;
    top: 10px;
    transition: 0.1s;
}

.card-footer .comment .comment-actions-icon:hover {
    color: #8a8a8a;
}

.invalid-feedback {
    margin-bottom: -5px !important;
}

ul.invalid-helper {
    margin-left: -10px;
    margin-bottom: 2px;
    color: #d20101;
    font-size: 14px;
    text-align: left;
}

.invalid-helper li:first-letter {
    text-transform: capitalize;
}

.success-response {
    margin-top: 10px;
    background: rgba(1, 154, 1, 0.15);
    border: solid 1px rgba(1, 154, 1, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.error-response {
    margin-top: 10px;
    background: rgba(232, 4, 4, 0.2);
    border: solid 1px rgba(182, 11, 11, 0.2);
    color: #000;
    border-radius: 5px;
    padding: 10px;
}

.is-valid {
    background: red !important;
    padding: 50px !important;
}

.language-select {
    background: rgba(182, 182, 182, 0.05);
    height: 46px;
    border: solid 1px rgba(182, 182, 182, 0.07);
    margin-right: 10px;
}

.language-select fieldset {
    border: none !important;
}

.comment-field {
    width: calc(100% - 66px);
}

.totalComments{
    text-align: right;
    margin-bottom: -5px;
}

.card-footer .comment:first-of-type{
    margin-top: 13px;
}

.MuiContainer-root{
    min-height: 80vh;
}

@media only screen and (max-width: 600px) {
    .auth-box {
        margin-top: -38px !important;
        border-bottom-left-radius: 0;
    }

    .card-head .actions button {
        opacity: 0.5;
    }
}