body {
    padding-top: 70px;
}

header {
    z-index: 1 !important;
}


.card{
    z-index: 0 !important;
}

.dark-screen {
    background: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 1 !important;
}


.auth-box{
    z-index: 2 !important;
    margin-top: -22px !important;
    right: 0 !important;
    background: #fff;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .auth-box{
        margin-top: -30px !important;
        border-bottom-left-radius: 0;
    }
}

header .navbar .nav-item {
    cursor: pointer;
    color: #c7c7c7;
}

header .navbar .nav-item svg:hover {
    color: #fff;
}

.navbar {
    -webkit-box-shadow: 0 -2px 5px 5px #3c3c3c;
    box-shadow: 0 -2px 5px 5px #3c3c3c;
}


.card-header button {
    margin-top: -10px;
    padding: 0 5px 4px;
    font-size: 18px;
    float: right;
    opacity: 0.3;
    transition: 0.1s;
}

.card-header button:hover {
    opacity: 1;
    transform: scale(1.05);
}

.card-text {
    text-align: justify;
    white-space: pre-line;
}

.invalid-feedback {
    margin-bottom: -5px !important;
}


ul.invalid-helper {
    margin-left: -10px;
    margin-bottom: 2px;
    color: #d20101;
    font-size: 14px;
    text-align: left;
}

.invalid-helper li:first-letter {
    text-transform: capitalize;
}

.success-response {
    margin-bottom: 0 !important;
}

.is-valid{
    background: red !important;
    padding: 50px !important;
}