body{
    padding-top: 48px;
}

header{
    z-index: 4;
}

header .navbar .nav-item {
    cursor: pointer;
    color: #c7c7c7;
}

header .navbar .nav-item svg:hover {
    color: #fff;
}

.navbar {
    -webkit-box-shadow: 0 -2px 5px 5px #3c3c3c;
    box-shadow: 0 -2px 5px 5px #3c3c3c;
    z-index: 3;
}

.auth-box {
    z-index: 2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0 1px 11px 0 #000;
    box-shadow: 0 1px 11px 0 #000;
    top: calc(100% + 9px);
}

.dark-screen {
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    cursor: pointer;
}

.card-text{
    text-align: justify;
    white-space: pre-line;
}

.invalid-feedback {
    margin-bottom: -5px !important;
}


ul.invalid-feedback {
margin-left: -15px;
}

.invalid-feedback li:first-letter {
    text-transform: capitalize;
}
