body {
    overflow-x: hidden;
    font-family: monospace;
}

main {
    padding-top: 64px;
}

header > nav {
    -webkit-box-shadow: 0 4px 8px -6px #000000;
    box-shadow: 0 4px 8px -6px #000000;
    z-index: 3;
}

header > .container-fluid {
    -webkit-box-shadow: -3px 3px 8px -4px #000000;
    box-shadow: -3px 3px 8px -4px #000000;
    z-index: 2;
    border-bottom-left-radius: 5px;
}

.custom-auth-font {
    font-size: 18px;
}

.custom-auth-font a {
    text-decoration: none;
    color: #000;
}

.custom-auth-font a:hover {
    color: #0d57a8;
}

.bi {
    cursor: pointer;
}

.blog-edit form,
.comment-edit form,
nav form {
    display: inline-block !important;
}

.blog-edit form button,
.comment-edit form button,
nav form button {
    padding: 0;
    border: none;
    background: none;
}

nav .bi:hover,
.card-header .bi:hover,
.comment-edit .bi:hover {
    color: #0d57a8;
}

.shadow-full {
    position: fixed;
    top: 30px;
    left: 0;
    height: calc(100vh - 30px);
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.card-body pre {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 0;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.comment-text .text {
    font-size: 14px;
}

.col-comment {
    width: calc(100% - 80px) !important;
    margin-left: 12px;
}

.col-comment-send {
    width: 60px !important;
}

.comment {
    min-height: 80px;
}

.comment-edit {
    display: none;
}

.comment:hover .comment-edit {
    display: block;
    margin-top: -1px;
    margin-right: -1px;
    border-top-right-radius: 5px;
}

.blog-edit {
    color: #212529;
    display: none;
}

.card:hover .blog-edit {
    display: block;
    margin-top: 1px;
    margin-right: -1px;
}

.card a{
    text-decoration: none;
    color: #fff;
}

.card a:hover{
    color: #a5c9ff;
}

.container .card .description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.modal-footer {
    background: #dadada;
}

.response-message-center {
    margin: 0 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.response-message-center::first-letter,
.response::first-letter,
.invalid-feedback li::first-letter {
    text-transform: capitalize;
}

.invalid-feedback {
    display: block !important;
}

header form li {
    margin-left: -10px !important;
}

.blog form li {
    margin-left: 18px !important;
    margin-bottom: 0 !important;
}

.form-comment-create .alert {
    width: calc(100% - 24px);
    margin-left: 12px !important;
}

.total-blogs {
    margin-top: -5px !important;
    margin-left: -15px;
}

.dropdown-menu[data-bs-popper]{
    left: auto !important;
    right: 0 !important;
}

@media only screen and (max-width: 1024px) {
    .total-blogs {
        width: 100% !important;
        margin-top: -90px !important;
    }

    .pages-nums {
        margin-top: 30px !important;
    }
    .container .card .description {
        -webkit-line-clamp: 7;
    }
}

@media only screen and (max-width: 576px) {
    header > .container-fluid {
        border-radius: 0;
    }

    .response-message-center {
        top: 64px;
        left: 2px;
        width: calc(100% - 4px);
        transform: none;
    }

    .container,
    .container-fluid {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }

    .container .card .description {
        -webkit-line-clamp: 10;
    }
}