<div th:fragment="info-form" th:remove="tag" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://thymeleaf.org">
    <form class="row form-comment-create" sec:authorize="isAuthenticated()" th:action="@{/comment/create}" th:object="${newComment}" method="post">
        <input type="hidden"
               class="form-control"
               th:field="*{id}">
        <input type="text"
               class="form-control col-comment"
               th:field="*{text}"
               th:classappend="${#fields.hasErrors('text')} ? 'is-invalid' : (${newComment.text ne null} ? 'is-valid' : '')">
        <div class="col-comment-send">
            <button type="submit" class="btn btn-secondary">
                <i class="bi bi-send"></i>
            </button>
        </div>
        <ul th:if="${#fields.hasErrors('text')}" class="invalid-feedback">
            <li th:each="err : ${#fields.errors('text')}" th:text="${err}"></li>
        </ul>
        <div th:if="${success != null}" class="alert alert-success m-2 p-1">
            <span th:text="${success}"></span>
        </div>
    </form>
</div>